pre{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100px;
  padding: 5px;
}

span.title{
  margin-left: 5px;
}

span.layout-path{
  background-color: #eee;
  border-radius: 4px;
  padding: 0px 3px;
  margin-bottom: 5px;
  display: inline-block;
}

.layout-path-icon:last-child{
  display: none;
}

div.path-container{
  margin-bottom: 0px;
}

span.match{
  color: #FF4559;
}

div.sub-info{
  margin-top: 5px;
}